.news{
    margin: 0 160px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 100px 80px;
    border: 1px solid black;
    background-color: #C6E4D6;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 16px;
    align-items: center;
}

.news-des{
    font-weight: 300;
    font-size: 16px;
}
.news-latter{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.email-input{
    padding: 20px ;
    font-size: 16px;
    font-weight: 100px;
    border-radius: 1;
}
.side-btn{
    padding: 20px 35px;
}