* {
    margin: 0;
    padding: 0;
}


.th,td{
    border: 1px solid #1d1b1b;
    text-align: left;
    padding: 8px
}
.tab-con{
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 16px;
    align-content: center;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);;
}
.tr{
    padding: 25px;
}
.table{
    border: 1px solid #1d1b1b;
    text-align: left;
    padding: 8px
}

.select{
    padding: 25px;
    margin: 24px;
}